/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* Generics */
 body {
    font-family: fredoka, sans-serif;
 }

 .conteiner {
   margin: 0 auto;
   text-align: center;
 }

 p {
    padding-bottom: 3rem;
 }

 .clearfix {
    content: "";
    clear: both;
    display: table;
   
 }

 .row {
    margin: 0 auto;
    color: white;
    background-color: black;
    padding: 0;    
 }

 .column {
    float: left;
    width: calc(100% / 3);
    text-align: left;
    padding: 0 5px 3px 0;
    border: 8px solid white;
    
 }

 .card {
    border: 5px;
    border-color: white;
    width: 350px;
 }

 /* Utilies */
 h1{
    color: rgb(229, 51, 112);
    padding: 2.5rem;
 }

 p {
    margin: 0 11rem;
 }

img {
    width: 7rem;
    float: left;
    padding-right: 4px;
}

h3,h4 {
    padding: 8px 0 7px 0;
}

.mail {
    color: rgb(49, 104, 128);
}


