/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* Generics */
 body {
    font-family: fredoka, sans-serif;
 }

 .conteiner {
    border: 0px auto;
 }

 /* Utilies */
 h1{
    color: rgb(229, 51, 112);
 }